<div data-countdown-wrap class="t4s-product-countdown t4s-pe-none t4s-pa t4s-op-0">
  <span class="t4s-pr-countdown-title">{{ 'products.product_card.offer_end_in' | t }}</span> <span class="t4s-pr-countdown-date" data-countdown-t4s data-date="{{ countdown }}"><span>%-D %!D:{{ 'products.product_card.countdown_text.day' | t }},{{ 'products.product_card.countdown_text.day_plural' | t }}; %H:%M:%S</span></span>
</div>