{%- if rating >= 1 -%}
    <div class="t4s-rating-wapper">
        {%- case rating -%}
            {%- when 1 -%}
            <div class="t4s-rating rating_1">
                <svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg  class="t4s-last-star" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg  class="t4s-last-star" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg  class="t4s-last-star" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg  class="t4s-last-star" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg>
            </div>
            {%- when 1.5 -%} 
            <div class="t4s-rating t4s-rating_1-5">
                <svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg class="t4s-last-star" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg class="t4s-star-half" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star_half"></use></svg><svg  class="t4s-last-star" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg  class="t4s-last-star" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg  class="t4s-last-star" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg>
                </div>
            {%- when 2 -%}
            <div class="t4s-rating t4s-rating_2">
                <svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg  class="t4s-last-star" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg  class="t4s-last-star" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg  class="t4s-last-star" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg>
                </div>
            {%- when 2.5 -%}
            <div class="t4s-rating t4s-rating_2-5">
                <svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg class="t4s-last-star" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg class="t4s-star-half" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star_half"></use></svg><svg  class="t4s-last-star" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg  class="t4s-last-star" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg>
                </div>
            {%- when 3 -%}
            <div class="t4s-rating t4s-rating_3">
                <svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg  class="t4s-last-star" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg  class="t4s-last-star" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg>
                </div>
            {%- when 3.5 -%}
            <div class="t4s-rating t4s-rating_3-5">
                <svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg class="t4s-last-star" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg class="t4s-star-half" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star_half"></use></svg><svg  class="t4s-last-star" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg>
                </div>
            {%- when 4 -%}
            <div class="t4s-rating t4s-rating_4">
                <svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg  class="t4s-last-star" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg>
                </div>
            {%- when 4.5 -%}
            <div class="t4s-rating t4s-rating_4-5">
                <svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg class="t4s-last-star" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg class="t4s-star-half" viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star_half"></use></svg></div>
            {%- else -%}
            <div class="t4s-rating t4s-rating_5">
                <svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg><svg viewBox="0 0 32 32" width="13px" height="13px"><use xlink:href="#t4s_star"></use></svg></div>
        {%- endcase -%}
    </div>
{%- endif -%}