<!-- sections/heading-static-cp.liquid -->
{{ 't4s-heading-template.css' | asset_url | stylesheet_tag }}
{{ 't4s-general-block.css' | asset_url | stylesheet_tag }}
{%- liquid
    assign se_stts = section.settings
    assign se_blocks = section.blocks
    assign page_type = request.page_type 
    if page_type contains 'customers'
        assign page_type = 'customers'  
    endif 
    assign image = se_stts.image  
    assign bg_opacity = se_stts.bg_opacity | divided_by: 100.0
    assign bg_overlay = se_stts.bg_overlay | color_modify: 'alpha', bg_opacity
 -%}
<div class="t4s-page-section-heading t4s_nt_se_{{ section.id }} t4s-pr{% if se_stts.parallax == true %} t4s-parallax t4s-parallax-bg{% endif %} lazyloadt4s" {% if se_stts.parallax == true %}data-parallax-t4strue{% endif %} {%- if image != blank -%} data-bgset="{{ image | image_url: width: 1 }}" data-sizes="auto"data-optimumx="1"{%- endif -%} {% render 'style_heading', se_stts: se_stts, bg_overlay: bg_overlay %} timeline hdt-reveal="fade-in">
  {%- case page_type -%}
    {%- when 'blog' -%}
      {%- render 'heading_blog', se_stts: se_stts, se_blocks: se_blocks -%}
    {%- when 'search' -%}
      {%- render 'heading_search', se_stts: se_stts, se_blocks: se_blocks -%}
    {%- else -%}
      {%- render 'heading_page', se_stts: se_stts, se_blocks: se_blocks -%}
  {%- endcase -%}
</div>
{% schema %}
  {
    "name": "Page heading",
    "class": "page_section_heading",
    "max_blocks": 3,
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      },
      {
        "type": "checkbox",
        "id": "parallax",
        "label": "Use scroll parallax",
        "default": false
      },
      {
        "type": "color",
        "id": "bg_overlay",
        "label": "Background color",
        "default": "#000"
      },
      {
        "type": "range",
        "id": "bg_opacity",
        "label": "Background overlay opacity",
        "default": 54,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%"
      }, {
        "type": "paragraph",
        "content": "+ Desktop"
      }, {
        "type": "range",
        "id": "padding_top",
        "label": "Padding space top",
            "default": 50,
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px"
      }, {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding space bottom",
            "default": 50,
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px"
      }, {
        "type": "paragraph",
        "content": "+ Tablet"
      }, {
        "type": "range",
        "id": "padding_top_tb",
        "label": "Padding space top",
            "default": 50,
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px"
      }, {
        "type": "range",
        "id": "padding_bottom_tb",
        "label": "Padding space bottom",
            "default": 50,
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px"
      }, {
        "type": "paragraph",
        "content": "+ Mobile"
      }, {
        "type": "range",
        "id": "padding_top_mb",
        "label": "Padding space top",
            "default": 50,
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px"
      }, {
        "type": "range",
        "id": "padding_bottom_mb",
        "label": "Padding space bottom",
            "default": 50,
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "px"
      }, {
        "type": "header",
        "content": "+ Background image config"
      }, {
        "type": "paragraph",
        "content": "Not active when you enable scroll parallax."
      }, {
        "type": "select",
        "id": "bg_pos",
        "label": "Background position",
        "default": "center center",
        "options": [
          {
            "value": "left top",
            "label": "Left Top"
          },
          {
            "value": "left center",
            "label": "Left Center"
          },
          {
            "value": "left bottom",
            "label": "Left Bottom"
          },
          {
            "value": "center top",
            "label": "Center Top"
          }, {
            "value": "center center",
            "label": "Center Center"
          }, {
            "value": "center bottom",
            "label": "Center Bottom"
          }, {
            "value": "right top",
            "label": "Right Top"
          }, {
            "value": "right center",
            "label": "Right Center"
          }, {
            "value": "right bottom",
            "label": "Right Bottom"
          }
        ]
      }, {
        "type": "select",
        "id": "bg_repeat",
        "options": [
          {
            "value": "no-repeat",
            "label": "No repeat"
          },
          {
            "value": "repeat",
            "label": "Repeat all"
          },
          {
            "value": "repeat-x",
            "label": "Repeat horizontally"
          },
          {
            "value": "repeat-y",
            "label": "Repeat vertically"
          }, {
            "value": "inherit",
            "label": "Inherit"
          }
        ],
        "label": "Background repeat",
        "default": "no-repeat",
        "info": "[Specifies how to repeat the background images](https:\/\/w3schools.com\/cssref\/pr_background-repeat.asp)"
      }, {
        "type": "select",
        "id": "bg_size",
        "options": [
          {
            "value": "auto",
            "label": "Auto"
          }, {
            "value": "inherit",
            "label": "Inherit"
          }, {
            "value": "cover",
            "label": "Cover"
          }, {
            "value": "contain",
            "label": "Contain"
          }
        ],
        "label": "Background size",
        "default": "cover",
        "info": "[Specifies the size of the background images](https:\/\/w3schools.com\/cssref\/css3_pr_background-size.asp)"
      }, {
        "type": "header",
        "content": "2. Design options"
      }, {
        "type": "range",
        "id": "mgb",
        "label": "Margin space bottom (Desktop)",
        "default": 50,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      }, {
        "type": "range",
        "id": "mgb_tb",
        "label": "Margin space bottom (Tablet)",
        "default": 50,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      }, {
        "type": "range",
        "id": "mgb_mb",
        "label": "Margin space bottom (Mobile)",
        "default": 50,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      }
    ],
    "blocks": [
      {
        "type": "1",
        "name": "Page heading",
        "limit": 1,
        "settings": [
          {
            "type": "select",
            "id": "tag",
            "label": "Html tag",
            "default": "p",
            "options": [
              {
                "value": "h2",
                "label": "H2"
              },
              {
                "value": "h3",
                "label": "H3"
              },
              {
                "value": "h4",
                "label": "H4"
              },
              {
                "value": "h5",
                "label": "H5"
              }, {
                "value": "h6",
                "label": "H6"
              }, {
                "value": "p",
                "label": "P"
              }, {
                "value": "div",
                "label": "DIV"
              }
            ]
          },
          {
            "type": "select",
            "id": "fontf",
            "default": "inherit",
            "label": "Font family",
            "options": [
              {
                "label": "Inherit",
                "value": "inherit"
              }, {
                "label": "Font family #1",
                "value": "1"
              }, {
                "label": "Font family #2",
                "value": "2"
              }, {
                "label": "Font family #3",
                "value": "3"
              }
            ]
          },
          {
            "type": "color",
            "id": "text_cl",
            "label": "Color text",
            "default": "#fff"
          },
          {
            "type": "range",
            "id": "text_fs",
            "label": "Font size",
            "max": 100,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 16
          }, {
            "type": "range",
            "id": "text_lh",
            "label": "Line height",
            "max": 100,
            "min": 0,
            "step": 1,
            "default": 0,
            "unit": "px",
            "info": "Set '0' to use default"
          }, {
            "type": "range",
            "id": "text_fw",
            "label": "Font weight",
            "min": 100,
            "max": 900,
            "step": 100,
            "default": 400
          }, {
            "type": "range",
            "id": "text_ls",
            "label": "Letter spacing",
            "max": 10,
            "min": 0,
            "default": 0,
            "step": 0.1,
            "unit": "px"
          }, {
            "type": "number",
            "id": "mgb",
            "label": "Margin bottom",
            "default": 15
          }, {
            "type": "checkbox",
            "id": "font_italic",
            "label": "Enable font italic style",
            "default": false
          }, {
            "type": "checkbox",
            "id": "font_uppercase",
            "label": "Enable font uppercase",
            "default": false
          }, {
            "type": "checkbox",
            "id": "text_shadow",
            "label": "Enable text shadow",
            "default": false
          }, {
            "type": "header",
            "content": "+ Options tablet"
          }, {
            "type": "range",
            "id": "text_fs_tb",
            "label": "Font size",
            "max": 60,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 16
          }, {
            "type": "range",
            "id": "text_lh_tb",
            "label": "Line height",
            "max": 70,
            "min": 0,
            "step": 1,
            "default": 0,
            "unit": "px",
            "info": "Set '0' to use default"
          }, {
            "type": "range",
            "id": "text_ls_tb",
            "label": "Letter spacing",
            "min": 0,
            "max": 10,
            "step": 0.1,
            "unit": "px",
            "default": 0
          }, {
            "type": "number",
            "id": "mgb_tb",
            "label": "Margin bottom",
            "default": 10
          }, {
            "type": "header",
            "content": "+ Options mobile"
          }, {
            "type": "checkbox",
            "id": "hidden_mobile",
            "label": "Hidden on mobile",
            "default": false
          }, {
            "type": "range",
            "id": "text_fs_mb",
            "label": "Font size",
            "max": 60,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 16
          }, {
            "type": "range",
            "id": "text_lh_mb",
            "label": "Line height",
            "max": 70,
            "min": 0,
            "step": 1,
            "default": 0,
            "unit": "px",
            "info": "Set '0' to use default"
          }, {
            "type": "range",
            "id": "text_ls_mb",
            "label": "Letter spacing",
            "min": 0,
            "max": 10,
            "step": 0.1,
            "unit": "px",
            "default": 0
          }, {
            "type": "number",
            "id": "mgb_mb",
            "label": "Margin bottom",
            "default": 10
          }
        ]
      }, {
        "type": "2",
        "name": "Page subheading",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "content",
            "label": "Page subheading",
            "default": "<p>Sub title page content</p>"
          },
          {
            "type": "select",
            "id": "fontf",
            "default": "inherit",
            "label": "Font family",
            "options": [
              {
                "label": "Inherit",
                "value": "inherit"
              }, {
                "label": "Font family #1",
                "value": "1"
              }, {
                "label": "Font family #2",
                "value": "2"
              }, {
                "label": "Font family #3",
                "value": "3"
              }
            ]
          },
          {
            "type": "color",
            "id": "text_cl",
            "label": "Color text",
            "default": "#fff"
          },
          {
            "type": "range",
            "id": "text_fs",
            "label": "Font size",
            "max": 100,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 16
          }, {
            "type": "range",
            "id": "text_lh",
            "label": "Line height",
            "max": 100,
            "min": 0,
            "step": 1,
            "default": 0,
            "unit": "px",
            "info": "Set '0' to use default"
          }, {
            "type": "range",
            "id": "text_fw",
            "label": "Font weight",
            "min": 100,
            "max": 900,
            "step": 100,
            "default": 400
          }, {
            "type": "range",
            "id": "text_ls",
            "label": "Letter spacing",
            "max": 10,
            "min": 0,
            "default": 0,
            "step": 0.1,
            "unit": "px"
          }, {
            "type": "number",
            "id": "mgb",
            "label": "Margin bottom",
            "default": 15
          }, {
            "type": "checkbox",
            "id": "font_italic",
            "label": "Enable font italic style",
            "default": false
          }, {
            "type": "checkbox",
            "id": "font_uppercase",
            "label": "Enable font uppercase",
            "default": false
          }, {
            "type": "checkbox",
            "id": "text_shadow",
            "label": "Enable text shadow",
            "default": false
          }, {
            "type": "header",
            "content": "+ Options tablet"
          }, {
            "type": "range",
            "id": "text_fs_tb",
            "label": "Font size",
            "max": 60,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 16
          }, {
            "type": "range",
            "id": "text_lh_tb",
            "label": "Line height",
            "max": 70,
            "min": 0,
            "step": 1,
            "default": 0,
            "unit": "px",
            "info": "Set '0' to use default"
          }, {
            "type": "range",
            "id": "text_ls_tb",
            "label": "Letter spacing",
            "min": 0,
            "max": 10,
            "step": 0.1,
            "unit": "px",
            "default": 0
          }, {
            "type": "number",
            "id": "mgb_tb",
            "label": "Margin bottom",
            "default": 10
          }, {
            "type": "header",
            "content": "+ Options mobile"
          }, {
            "type": "checkbox",
            "id": "hidden_mobile",
            "label": "Hidden on mobile",
            "default": false
          }, {
            "type": "range",
            "id": "text_fs_mb",
            "label": "Font size",
            "max": 60,
            "min": 10,
            "step": 1,
            "unit": "px",
            "default": 16
          }, {
            "type": "range",
            "id": "text_lh_mb",
            "label": "Line height",
            "max": 70,
            "min": 0,
            "step": 1,
            "default": 0,
            "unit": "px",
            "info": "Set '0' to use default"
          }, {
            "type": "range",
            "id": "text_ls_mb",
            "label": "Letter spacing",
            "min": 0,
            "max": 10,
            "step": 0.1,
            "unit": "px",
            "default": 0
          }, {
            "type": "number",
            "id": "mgb_mb",
            "label": "Margin bottom",
            "default": 10
          }
        ]
      }, {
        "type": "3",
        "name": "Breadcrumb",
        "limit": 1,
        "settings": [
          {
            "type": "color",
            "id": "breadcrumb_color_link",
            "label": "Breadcrumb link color",
            "default": "#fff"
          },
          {
            "type": "color",
            "id": "breadcrumb_color",
            "label": "Breadcrumb color",
            "default": "#fff"
          },
          {
            "type": "number",
            "id": "brc_mgb",
            "label": "Margin bottom",
            "default": 5
          },
          {
            "type": "number",
            "id": "brc_mgb_tb",
            "label": "Margin bottom(Tablet)",
            "default": 5
          }, {
            "type": "number",
            "id": "brc_mgb_mb",
            "label": "Margin bottom(Mobile)",
            "default": 5
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "1"
        }
      ]
    }
  }
{% endschema %}