<section>
  <div class="container-fluid">
    <div class="row">
      {% for block in section.blocks %}
      {% if block.type == 'video_slider' %} 
      <div class="col-md-12">
        <h2>{{ block.settings.title }}</h2>
        <div class="ctm-banner-button">
          <a href="{{ block.settings.btn_link }}">{{ block.settings.btn_title }}</a>
        </div>
      </div>
    {% endif %}
    {% endfor %}
    </div>
  </div>
</section>



{% schema %}
{
  "name": "Video Banner Slider",
  "settings": [
  ],
  "blocks": [
    {
      "type": "video_slider",
      "name": "Add Slide",
      "settings": [
        {
          "type": "text",
          "label": "Title",
          "id": "title"
        },
        {
          "type": "text",
          "label": "Button Title",
          "id": "btn_title"
        },
        {
          "type": "url",
          "label": "Button Link",
          "id": "btn_link"
        },
        {
          "type": "image_picker",
          "label": "Box Icon",
          "id": "box_icon"
        },
        {
          "type": "text",
          "label": "Box Description",
          "id": "box_description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video Banner Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}